<!doctype html>
<html>
<head>
  <title>Game</title>
  <!-- <script src="https://unpkg.com/vue/dist/vue.min.js"></script> -->
  <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <div id="info" v-if="visible" v-cloak>
    <h1>{{ gameName }}</h1>
    <h2>{{ gameId }}</h2>
    <p>Created by player</p>
    <p>{{ expansion }} game</p>
    <p>{{ minPlayers }}-{{ maxPlayers }} players</p>
  </div>

  <div id="players" v-if="visible" v-cloak>
    <h1>Players</h1>
    <h2 id="playerCount" th:text="|{{ count }}/${maxPlayers}|">2/3</h2>

    <ul id="playerList">
      <li v-for="color in Object.keys(slots)" v-bind:id="color">
        {{ slots[color] }}
        <transition>
          <button v-if="color == myColor" v-on:click="leave(color)">
            Leave
          </button>
          <button v-else-if="empty(color)" v-on:click="join(color)" v-bind:disabled="!canJoin">
            Join
          </button>
        </transition>
      </li>
    </ul>

    <button id="startButton" v-on:click="start()" v-bind:disabled="!canStart">Start</button>
  </div>

  <div id="board" v-if="visible">
    <svg width="500" height="440">
      <g transform="translate(250, 220) scale(50)">
        <g v-for="tile in tiles" class="tile" v-bind:data-resource="tile.resource.toLowerCase()">
          <polygon v-bind:points="points(tile)"/>
        </g>
      </g>
    </svg>
  </div>

  <script src="js/stringFormat.js"></script>
  <script src="js/actions.js"></script>
  <script src="js/hex.js"></script>
  <script src="js/game.js"></script>
</body>
</html>
<link rel="stylesheet" type="text/css" href="css/game.css">
